@use '../../styles/base/layout' as l;
@use '../../styles/base/utils' as u;
@use '../../styles/base/text' as t;
@use '../../styles/base/button' as b;
@use '../../styles/base/breakpoints' as br;

.cardWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    gap: u.toRem(16);
    padding: u.toRem(20);
    background-color: var(--c-surface-secondary);
    border: 1px solid var(--c-outline-primary);
    border-radius: 16px;
    cursor: pointer;

    @include br.custom(825) {
        flex: auto;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        padding: 0;
        gap: u.toRem(12);
        background-color: transparent;
        border: none;
        border-radius: 0;
    }

    .cardCover {
        position: relative;
        width: 96px;
        height: 96px;
        aspect-ratio: 1;
        border: 1px solid var(--c-outline-primary);
        border-radius: 12px;
        overflow: hidden;
        flex-shrink: 0;

        @include br.custom(825) {
            width: 250px;
            height: 250px;
        }

        @include br.custom(572) {
            width: 198px;
            height: 198px;
        }
    }

    .textContentWrapper {
        display: flex;
        flex: 1 1 100%;
        align-self: stretch;
        flex-direction: column;
        justify-content: space-between;
        gap: u.toRem(8);

        @include br.custom(825) {
            flex: auto;
            align-self: flex-start;
        }
    }

    .cardTitle {
        @include t.title("L");
        display: -webkit-box !important;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;

        @include br.custom(825) {
            -webkit-line-clamp: 2;
        }

        @include br.custom(572) {
            @include t.base("S");
        }
    }

    .timeInfoWrapper {
        @include t.base("S", "regular", "one-liner");
        color: var(--c-on-surface-secondary);
    }

    .playButton {
        @include b.buttonIconPrimary(40, 10);
        align-self: flex-end;

        @include br.custom(825) {
            position: absolute;
            right: 8px;
            top: 61.5%;
        }

        @include br.custom(572) {
            right: 8px;
            top: 55%;
        }

        @media (hover:hover) {
            &:hover {
                filter:brightness(110%)
            }
        }
    }
}