@use '../../styles/base/layout' as l;
@use '../../styles/base/utils' as u;
@use '../../styles/base/text' as t;
@use '../../styles/base/button' as b;

.cardWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    gap: u.toRem(16);
    padding: u.toRem(20);
    background-color: var(--c-surface-secondary);
    border: 1px solid var(--c-outline-primary);
    border-radius: 16px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    .cardCover {
        position: relative;
        width: 96px;
        height: 96px;
        aspect-ratio: 1;
        border: 1px solid var(--c-outline-primary);
        border-radius: 12px;
        overflow: hidden;
        flex-shrink: 0;
    }

    .textContentWrapper {
        display: flex;
        flex: 1 1 100%;
        align-self: stretch;
        flex-direction: column;
        justify-content: space-between;
        gap: u.toRem(8);
    }

    .cardTitle {
        @include t.title("L");
        display: -webkit-box !important;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    .timeInfoWrapper {
        @include t.base("S", "regular", "one-liner");
        color: var(--c-on-surface-secondary);
        transition: color 100ms ease-in-out;
    }

    .playButton {
        @include b.buttonIconPrimary(40, 10);
        align-self: flex-end;
    }

    .audioBarsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        width: 32px;
        height: 32px;
        aspect-ratio: 1;
    }
}