@use './base/layout' as l;
@use './base/text' as t;
@use './base/utils' as u;
@use './base/breakpoints' as br;

.sectionContainer {
    @include l.sectionContainer;

    @include br.custom(500) {
        padding: 0;
    }
}

.featuredListWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: u.toRem(24);

    & > * {
        flex: 0 1 100%;
    }

    @include br.custom(825) {
        justify-content: flex-start;

        & > * {
            flex: auto;
            max-width: min-content;
        }
    }

    @include br.custom(500) {
        padding: 0 u.toRem(24);
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar { 
            display: none;
        }
    }
}

.featuredContentContainer {
    @include l.contentContainer;
    padding: u.toRem(48) 0 u.toRem(56) 0;

    @include br.custom(572) {
        padding: u.toRem(32) 0 u.toRem(48) 0;
    }

    h2 {
        @include t.heading("L");
        margin-bottom: u.toRem(24);

        @include br.custom(572) {
            @include t.heading("S");
            margin-bottom: u.toRem(16);
        }

        @include br.custom(500) {
            padding: 0 u.toRem(24);
        }
    }
}

.allEpisodesSectionContainer {
    @include l.sectionContainer;

    @include br.custom(500) {
        padding: 0;
    }
}

.allEpisodesContentContainer {
    @include l.contentContainer;
    padding-bottom: 64px;

    @include br.custom(1450) {
        padding-bottom: 135px;
    }

    h2 {
        @include t.heading("L");
        margin-bottom: u.toRem(24);

        @include br.custom(572) {
            @include t.heading("S");
            margin-bottom: u.toRem(16);
        }

        @include br.custom(500) {
            padding: 0 u.toRem(24);
        }

        span {
            font-weight: 400;
            color: var(--c-on-surface-tertiary);
        }
    }
}

.allEpisodesListWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    gap: 12px;
    border-top: 1px solid var(--c-outline-primary);

    @include br.custom(500) {
        gap: 8px;
    }

    &.hasEpExpandedClass::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--c-surface-primary);
        opacity: 60%;
        z-index: 1;
    }
}