@use './base/layout' as l;
@use './base/text' as t;
@use './base/utils' as u;

.sectionContainer {
    @include l.sectionContainer;
}

.contentContainer {
    @include l.contentContainer;
    padding-bottom: 64px;

    h2 {
        @include t.heading("L");
        margin-bottom: u.toRem(24);

        span {
            font-weight: 400;
            color: var(--c-on-surface-tertiary);
        }
    }
}

.contentListWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    gap: 8px;
    border-top: 1px solid var(--c-outline-primary);
}