@use './base/layout' as l;
@use './base/text' as t;
@use './base/utils' as u;

.sectionContainer {
    @include l.sectionContainer;
}

.featuredListWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: u.toRem(24);

    & > * {
        flex: 0 1 100%;
    }
}

.featuredContentContainer {
    @include l.contentContainer;
    padding: u.toRem(48) 0 u.toRem(56) 0;

    h2 {
        @include t.heading("L");
        margin-bottom: u.toRem(24);

        span {
            font-weight: 400;
            color: var(--c-on-surface-tertiary);
        }
    }
}

.allEpisodesContentContainer {
    @include l.contentContainer;
    padding-bottom: 64px;

    h2 {
        @include t.heading("L");
        margin-bottom: u.toRem(24);

        span {
            font-weight: 400;
            color: var(--c-on-surface-tertiary);
        }
    }
}

.allEpisodesListWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    gap: 12px;
    border-top: 1px solid var(--c-outline-primary);

    &.hasEpExpandedClass {
        transition: opacity 500ms ease-in-out;
    }

    &.hasEpExpandedClass::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--c-surface-primary);
        opacity: 60%;
        z-index: 1;
    }
}