@use './base/reset';
@use './base/colors' as c;
@use './base/text' as t;
@use './base/utils' as u;

:root {
    // SETTING COMMON COLOR CUSTOM PROPERTIES
    @each $color, $value in c.$base-colors {
        --c-#{$color}: #{$value};
    }
}

body {
    font-family: t.$font-face-primary;
    color: var(--c-on-surface-primary);
    background-color: var(--c-surface-primary);
}

h1.pageTitle {
    @include u.srOnly;
}

//STYES FOR SLIDER COMPONENT
.rc-slider-handle-dragging {
    box-shadow: 0px 0px 0px 3px var(--c-amber-accent-container-primary) !important;
    transition: box-shadow 100ms;

    div[data-theme='inverted'] & {
        box-shadow: 0px 0px 0px 3px var(--c-amber-on-accent-container-primary) !important;
    }
}