@use '../../styles/base/layout' as l;
@use '../../styles/base/utils' as u;
@use '../../styles/base/text' as t;
@use '../../styles/base/breakpoints' as br;

.sectionContainer {
    @include l.sectionContainer;
    border-bottom: 1px solid var(--c-outline-primary);
}

.contentContainer {
    @include l.contentContainer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: u.toRem(24) 0;
    color: var(--c-on-surface-primary);

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: u.toRem(16);

        .tagline {
            @include t.base("M", "regular", "one-liner");

            padding-left: u.toRem(16);
            border-left: 1px solid var(--c-outline-primary);
            color: var(--c-on-surface-secondary);

            @include br.custom(713) {
                @include u.srOnly;
            }
        }

        a {
            @include t.base("M", "regular", "one-liner");
            text-decoration: none;
            color: var(--c-on-surface-secondary);
            
            &:hover {
                color: var(--c-amber-accent-primary);
            }

            @include br.custom(400) {
                @include u.srOnly;
            }
        }

        .dot {
            color: var(--c-on-surface-tertiary);

            @include br.custom(400) {
                @include u.srOnly;
            }
        }

        time {
            @include t.base("M", "regular", "one-liner");
            white-space: nowrap;
        }
    }
}