@use '../../styles/base/utils' as u;
@use '../../styles/base/text' as t;

.sidebarContainer {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: u.toRem(60);
    gap: u.toRem(80);
    max-width: u.toRem(410);
    height: 100vh;
    border-left: 1px solid var(--c-outline-primary);
    background-image: var(--c-surface-player-widget);
}

.contentInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: u.toRem(32);
}

.coverWrapper {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border: 1px solid var(--c-outline-primary);
    border-radius: 24px;
    box-shadow: 0px 34px 21px -21px rgba(0, 0, 0, 0.32);
}

.textInfoWrapper {
    display: flex;
    max-width: 280px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: u.toRem(12);
    overflow: hidden;

    div {
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-image: linear-gradient(90deg, rgba(40, 32, 26, 1), rgba(40, 32, 26, 0));
            width: 20px;
            height: 100%;
            z-index: 3;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background-image: linear-gradient(90deg, rgba(40, 32, 26, 0), rgba(40, 32, 26, 1));
            width: 20px;
            height: 100%;
            z-index: 3;
        }
    }

    h2 {
        @include t.heading("S");

        position: relative;
        z-index: 2;
        white-space: nowrap;
        // overflow: hidden;
        // text-overflow: clip;
        // display: inline-block;
        transform: translateX(-100%);
        // padding-left: 100%;
        animation-name: animateText;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-duration: 15000ms;
        // animation-delay: 1000ms;
    }

    p {
        @include t.base("S");
        color: var(--c-amber-accent-secondary);
    }
    
    @keyframes animateText {
        from{transform: translateX(0%);}
        to{transform: translateX(-100%);}
    }
}
