@mixin btn {
    cursor: pointer;
    border: none;
    transition: background-color 100ms ease-in-out;

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        cursor: default;
        opacity: 40%;
    }

    &:disabled:active {
        transform: scale(1);
    }
}

@mixin btnIcon($size, $roundCorner) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size + px;
    height: $size + px;
    aspect-ratio: 1;
    border-radius: $roundCorner + px;
}

@mixin buttonIconPrimary($size: 40, $roundCorner:  8) {
    @include btn;
    @include btnIcon($size, $roundCorner);

    background-color: var(--c-amber-accent-container-primary);
}

@mixin buttonIconSecondary($theme: 'default', $size: 40, $roundCorner: 8) {
    @include btn;
    @include btnIcon($size, $roundCorner);

    
    @if $theme == 'default' {
        background-color: var(--c-amber-accent-container-secondary);
    } @else {
        background-color: var(--c-amber-over-accent-container-primary);
    }
}

@mixin buttonIconTertiary($theme: 'default', $size: 40, $roundCorner: 8) {
    @include btn;
    @include btnIcon($size, $roundCorner);

    background-color: transparent;

    @media (hover: hover) {
        @if $theme == 'default' {
            &:hover:not(:disabled) {
                background-color: var(--c-amber-accent-container-secondary);
            }
        } @else {
            &:hover:not(:disabled) {
                background-color: var(--c-amber-over-accent-container-primary);
            }
        }
    }
}

@mixin buttonIconOutline($size: 40, $roundCorner: 8) {
    @include btn;
    @include btnIcon($size, $roundCorner);

    background-color: transparent;
    border: 1px solid var(--c-outline-primary);
}