@use './breakpoints' as br;

@mixin sectionContainer {
    padding: 0 48px;

    @include br.custom(706) {
        padding: 0 24px;
    }
}

@mixin contentContainer {
    max-width: 1080px;
    margin: 0 auto;
}